<tr>
    <th>1</th>
    <th>2013-01-08</th>
    <th>Coding</th>
    <th>Answer 5 questions on Leetcode and Codewar</th>
    <th>3</th>
    <th>In progress</th>
    <td>
        <a href="update-task" class="btn border-shadow update">
            <span class="text-gradient">
                <i class="fas fa-pencil-alt"></i>
            </span>
        </a>
        <a href="#" class="btn border-shadow delete">
            <span class="text-gradient">
                <i class="fas fa-times"></i>
            </span>
        </a>
    </td>
</tr>